{% extends "header_footer.html" %}
{% load staticfiles %}

{% block title %}AutoCars{% endblock %}

{% block main_body %}
  <section id="home" class="slider">
    <ul class="slides">
      <li class="visible-slide">
        <img alt="slide image" data-src-base="{% static 'sections/img/' %}" data-src="<768:slider_1_1_768.jpg, <960:slider_1_1_960.jpg, >960:slider_1_1.jpg" >
        <div class="slide-text">
          <h1 class="animate">Incredible service</h1>
          <p class="animate">First class service at affordable prices</p>
        </div>
      </li>
      <li class="hidden-slide">
        <img alt="slide image" data-src-base="{% static 'sections/img/' %}" data-src="<768:slider_1_2_768.jpg, <960:slider_1_2_960.jpg, >960:slider_1_2.jpg">
        <div class="slide-text">
          <h1 class="animate">Repairs</h1>
          <p class="animate">Need something fixing? Let us help!</p>
        </div>
      </li>
      <li class="hidden-slide">
        <img alt="slide image" data-src-base="{% static 'sections/img/' %}" data-src="<768:slider_1_3_768.jpg, <960:slider_1_3_960.jpg, >960:slider_1_3.jpg">
        <div class="slide-text">
          <h1 class="animate">Best mechanics</h1>
          <p class="animate">We have experienced people who in love with cars</p>
        </div>
      </li>
      <li class="hidden-slide">
        <img alt="slide image" data-src-base="{% static 'sections/img/' %}" data-src="<768:slider_1_4_768.jpg, <960:slider_1_4_960.jpg, >960:slider_1_4.jpg">
        <div class="slide-text">
          <h1>Wide range</h1>
          <p>We service almost all makes and models</p>
        </div>
      </li>
    </ul>
  </section>

  <section id="offers" class="offers">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 week-offer">
          <h3>Offer of the week</h3>
          <div class="offer-img">
            <a class="popup-deal" data-toggle="modal" href="#week-offer-popup">
              <img src="{{ week_offer.image.url }}" alt="week offer img">
            </a>
          </div>
          <div class="offer-description">
            <div class="offer-price">{{ week_offer.price }} &euro;</div>
            <a class="popup-deal" data-toggle="modal" href="#week-offer-popup">
              <h4>{{ week_offer.title }}</h4>
              {% autoescape off %}
              <div class="offer-text">{{ week_offer.short_description }}</div>
              {% endautoescape %}
            </a>
          </div>
          <div class="modal fade" id="week-offer-popup" tabindex="-1" role="dialog" aria-labelledby="offer-popup-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="offer-popup-label">{{ week_offer.title }}</h4>
                </header>
                <div class="modal-body">
                  <img class="pop-up" src="{{ week_offer.image.url }}" alt="week offer img">
                  {{ week_offer.description|safe }}
                </div>
                <footer>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button id="booking" type="button" class="btn btn-info">Book an appointment</button>
                </footer>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 special-deals">
          <h3>Special deals</h3>
          {% for offer in special_offers %}
          <div class="row special-deal">
            <div class="offer-img pull-left">
              <a class="popup-deal" data-toggle="modal" href="#offer-{{ forloop.counter }}-popup">
                <img src="{{ offer.image.url }}" alt="week offer img">
              </a>
            </div>
            <div class="offer-description pull-right">
              <div class="offer-price">{{ offer.price }} &euro;</div>
              <a class="popup-deal" data-toggle="modal" href="#offer-{{ forloop.counter }}-popup">
                <h5>{{ offer.title }}</h5>
                {% autoescape off %}
                <div class="offer-text">{{ offer.short_description }}</div>
                {% endautoescape %}
              </a>
            </div>
          </div>
          <div class="modal fade" id="offer-{{ forloop.counter }}-popup" tabindex="-1" role="dialog" aria-labelledby="offer-popup-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="offer-popup-label">{{ offer.title }}</h4>
                </header>
                <div class="modal-body">
                  <img class="pop-up" src="{{ offer.image.url }}" alt="week offer img">
                  {{ offer.description|safe }}
                </div>
                <footer>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button id="booking" type="button" class="btn btn-info">Book an appointment</button>
                </footer>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services">
      <div class="container">
        <h2 class="section-title">
          What we can offer
        </h2>
        <div class="row border-top">
          {% for service in services %}
          <div class="service col-xs-12 col-sm-6 col-md-4">
            <div class="icon pull-left">
              <span class="glyphicon {{ service.icon }}"></span>
            </div>
            <div class="service-description">
              <h4>{{ service.name }}</h4>
              <p>{{ service.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row brands">
          <div class="col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/mercedes-benz.png' %}" alt="mercedes-benz logo">
          </div>
          <div class="col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/audi.png' %}" alt="audi logo">
          </div>
          <div class="col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/bmw.png' %}" alt="bmw logo">
          </div>
          <div class="col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/volvo.png' %}" alt="volvo logo">
          </div>
          <div class="col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/ferrari.png' %}" alt="ferrari logo">
          </div>
          <div class="col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/peugeot.png' %}" alt="peugeot logo">
          </div>
          <div class="col-sm-offset-4 col-lg-offset-0 col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/reno.png' %}" alt="reno logo">
          </div>
          <div class="col-xs-3 col-sm-2 brand-content">
            <img src="{% static 'sections/img/honda.png' %}" alt="honda logo">
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials" class="testimonials">
      <div class="container blockquotes">
        {% for testimonial in testimonials %}
        <blockquote class={% if forloop.counter == 1%}"visible-slide"{% else %}"hidden-slide"{% endif %}>
          <p>{{ testimonial.text }}</p>
          <small>{{ testimonial.author }}</small>
        </blockquote>
        {% endfor %}
        <a class="prev navigation" id="testimonial-prev" href="#">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="next navigation" id="testimonial-next" href="#">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </section>

    <section id="workers" class="workers">
      <div class="container">
        <h2 class="section-title">
          Who we are
        </h2>
        <div class="row border-top">
          {% for worker in workers %}
          <div class="worker col-xs-12 col-sm-6">
            <span class="arrow">&nbsp;</span>
            <div class="img pull-left">
              <img src="{{ worker.photo.url }}" alt="photo {{ worker.name }}">
            </div>
            <div class="worker-description">
              <h4>{{ worker.name }}</h4>
              <p>{{ worker.job_description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="map" class="map">
      <div id="map-canvas"></div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <h2 class="section-title">
          Contact info
        </h2>
        <div class="row border-top">
          <div class="col-sm-8 col-md-9 contact-form">
            <p>Our staff is available to answer any questions that you might have or to schedule an appointment.</p>
            <form role="form" class="row" method="post" action="/contact/">{% csrf_token %}
              <div class="col-md-6 form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
              </div>
              <div class="col-md-6 form-group">
                {{ form.email_address.label_tag }}
                {{ form.email_address }}
              </div>
              <div class="col-md-6 form-group">
                {{ form.subject.label_tag }}
                {{ form.subject }}
              </div>
              <div class="col-md-6 form-group">
                {{ form.telephone_number.label_tag }}
                {{ form.telephone_number }}
              </div>
              <div class="form-group message">
                {{ form.message.label_tag }}
                {{ form.message }}
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-info pull-right">Send message</button>
              </div>
            </form>
          </div>
          <div class="col-sm-4 col-md-3 contact-address">
            <p>Please feel free to come or to call us</p>
            <address>
                <strong>Main Office</strong><br>
                Address:Kotkakuja 3, Espoo, 02620<br>
                <abbr title="Phone">P:</abbr> +358 45325957
            </address>
            <address>
                <strong>E-mail</strong><br>
                <a href="mailto:#">first.last@gmail.com</a>
            </address>
          </div>
        </div>

        

      </div>
    </section>

{% endblock %}
