{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="autocars">
    <meta name="author" content="Andrey Kramarev">
    
    <title>{% block title %}AutoCars{% endblock %}</title>

    <link href="{% static 'sections/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'sections/css/base.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="libs/html5shiv.js"></script>
    <script src="libs/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="home">
    {% block content %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>